<!DOCTYPE html>
@model IEnumerable<Photos.Models.Album>

<script type="text/javascript">
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();
        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>

<div class="page-header">
    <h1>All Albums</h1>
</div>

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

<style>
    .modal-content {
        width: 700px !important;
        margin: 30px auto !important;
    }
</style>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Album Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:250px"><a href="/Photos/ViewAlbum/@item.Id">@item.AlbumName</a></td>
                <td style="width:150px">@item.AlbumDate</td>
                <td>@item.Description</td>
                <td style="width:170px">

                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "_EditAlbumDetails", "Photos", new { id = @item.Id }, new { @class = "modal-link btn btn-default btn-sm" })
                    }
                    <a href="@Url.Action("DownloadAlbum", "Photos", new { id = item.Id })" class="btn btn-default btn-sm">
                        Download <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>