@model IEnumerable<Photos.Models.Photo>
                      <div class="page-header">
                          <h1>View Album</h1>
                      </div>

<table class="table">
    <tr>
        <th style="width:220px">
            
        </th>
        <th>
            Technical Details
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.Location)@Html.DisplayFor(modelItem => item.Filename)">
                <img src="/Thumbnails/@Html.DisplayFor(modelItem => item.ThumbnailFilename)" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
            </a>
        </td>
        <td>
            <table class="table">
                <tr><td>Date Taken</td><td>@Html.DisplayFor(modelItem => item.DateTaken)</td><td>F Stop</td><td>@Html.DisplayFor(modelItem => item.FStop)</td></tr>
                <tr><td>Dimensions</td><td>@Html.DisplayFor(modelItem => item.Dimensions)</td><td>Exposure</td><td>@Html.DisplayFor(modelItem => item.Exposure)</td></tr>
                <tr><td>Camera Maker</td><td>@Html.DisplayFor(modelItem => item.CameraMaker)</td><td>ISO</td><td>@Html.DisplayFor(modelItem => item.ISO)</td></tr>
                <tr><td>Camera Model</td><td>@Html.DisplayFor(modelItem => item.CameraModel)</td><td>Focal Length</td><td>@Html.DisplayFor(modelItem => item.FocalLength)</td></tr>
                <tr><td>DPI</td><td>@Html.DisplayFor(modelItem => item.DPI)</td><td>Flash</td><td>@Html.DisplayFor(modelItem => item.Flash)</td></tr>
             </table>
        </td>
    </tr>
}

</table>

                      <p><a class="btn btn-primary" href="/Photos/Index" role="button"> &laquo; Back to Albums</a></p>
