@model IEnumerable<Photos.Models.Photo>
<meta name="description" content="blueimp Gallery is a touch-enabled, responsive and customizable image and video gallery, carousel and lightbox, optimized for both mobile and desktop web browsers. It features swipe, mouse and keyboard navigation, transition effects, slideshow functionality, fullscreen support and on-demand content loading and can be extended to display additional content types.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/Content/blueimp/css/blueimp-gallery.css">
<link rel="stylesheet" href="~/Content/blueimp/css/blueimp-gallery-indicator.css">
<link rel="stylesheet" href="~/Content/blueimp/css/blueimp-gallery-video.css">

<div class="page-header">
    <h1>@ViewBag.AlbumName</h1>
</div>

<!--Images-->
<div id="links">
@foreach (var item in Model)
{
    <a href="@Html.DisplayFor(modelItem => item.Location)@Html.DisplayFor(modelItem => item.Filename)" title="@Html.DisplayFor(modelItem => item.DateTaken); @Html.DisplayFor(modelItem => item.CameraMaker); @Html.DisplayFor(modelItem => item.CameraModel); @Html.DisplayFor(modelItem => item.ISO); @Html.DisplayFor(modelItem => item.Exposure); @Html.DisplayFor(modelItem => item.FStop); @Html.DisplayFor(modelItem => item.FocalLength)" data-gallery>
        <img src="/Thumbnails/@Html.DisplayFor(modelItem => item.ThumbnailFilename)" alt="@Html.DisplayFor(modelItem => item.Filename)">
    </a>
}
</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<script src="~/Content/blueimp/js/blueimp-helper.js"></script>
<script src="~/Content/blueimp/js/blueimp-gallery.js"></script>
<script src="~/Content/blueimp/js/blueimp-gallery-fullscreen.js"></script>
<script src="~/Content/blueimp/js/blueimp-gallery-indicator.js"></script>
<script src="~/Content/blueimp/js/blueimp-gallery-video.js"></script>
<script src="~/Content/blueimp/js/blueimp-gallery-vimeo.js"></script>
<script src="~/Content/blueimp/js/blueimp-gallery-youtube.js"></script>
<script src="~/Content/blueimp/js/vendor/jquery.js"></script>
<script src="~/Content/blueimp/js/jquery.blueimp-gallery.js"></script>
