@model Music.Models.AlbumSong
<div class="page-header">
    <h1>All Songs</h1>
</div>

<style>
    #contextMenu {
        position: absolute;
        display: none;
    }
</style>

<script>
    $(function () {

        var $contextMenu = $("#contextMenu");

        $("body").on("contextmenu", "table tr", function (e) {
            $contextMenu.css({
                display: "block",
                left: e.pageX,
                top: e.pageY
            });
            return false;
        });

        $contextMenu.on("click", "a", function () {
            $contextMenu.hide();
        });

    });

    function AddSong(SongID) {
        var JSONObject = { // Create JSON object to pass through AJAX
            PlaylistID: GetPlaylistID(), //Make sure these names match the properties in VM
            SongID: SongID
        };

        $.ajax({ //Do an ajax post to the controller
            type: 'POST',
            url: '~/Music/AddSong',
            data: JSON.stringify(JSONObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                document.getElementById("td" + SongID).innerHTML = '<a class="btn btn-danger" role="button" onclick="RemoveSong(' + SongID + ')"><span class="glyphicon glyphicon-add"></span>Remove</a>';
            }
        });
    }

    function RemoveSong(SongID) {
        var JSONObject = { // Create JSON object to pass through AJAX
            PlaylistID: GetPlaylistID(), //Make sure these names match the properties in VM
            SongID: SongID
        };

        $.ajax({ //Do an ajax post to the controller
            type: 'POST',
            url: '~/Music/RemoveSong',
            data: JSON.stringify(JSONObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                document.getElementById("td" + SongID).innerHTML = '<a class="btn btn-success" role="button" onclick="AddSong(' + SongID + ')"><span class="glyphicon glyphicon-add"></span>Add</a>';
            }
        });
    }

    function GetPlaylistID() {
        urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('PlaylistID');
    }

    //Display songs for a partucular album
    function LoadAlbum(AlbumID) {
        URLToLoad = "~/Music/Songs/" + AlbumID;

        // If PlaylistID exists on the querystring, persist on a page refresh
        if (GetPlaylistID() != '') {
            URLToLoad = URLToLoad + "?PlaylistID=" + GetPlaylistID();
        }

        // Reload page
        document.location.href = URLToLoad;
    }

</script>

<select id="SelectAlbum" onchange=LoadAlbum(this.options[this.selectedIndex].value)>
    @foreach (var item in Model.Album)
    {
        <option value="@item.Id">@item.AlbumName</option>
    }
</select>


<select title="Select your surfboard" class="selectpicker">
    <option>Select...</option>
    <option data-thumbnail="/images/album/19923.jpg">Chrome</option>
    <option data-thumbnail="images/icon-firefox.png">Firefox</option>
    <option data-thumbnail="images/icon-ie.png">IE</option>
    <option data-thumbnail="images/icon-opera.png">Opera</option>
    <option data-thumbnail="images/icon-safari.png">Safari</option>
</select>

<br />
<br />

<table class="table">
    @foreach (var item in Model.Song)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Album</td>
            <td>@item.Title</td>
            <td>@item.Location</td>
            @if (@ViewBag.Id != 0)
            {
                <td style="text-align:right" id="td@(item.Id)">
                    @if (@item.PlaylistSongID == "")
                    {
                        <a class="btn btn-success" role="button" onclick="AddSong(@(item.Id))"><span class="glyphicon glyphicon-add"></span>Add</a>
                    }
                    else
                    {
                        <a class="btn btn-danger" role="button" onclick="RemoveSong(@(item.Id))"><span class="glyphicon glyphicon-add"></span>Remove</a>
                    }
                </td>
            }
        </tr>
    }
</table>

<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li><a tabindex="-1" href="#">Action</a></li>
        <li><a tabindex="-1" href="#">Another action</a></li>
        <li><a tabindex="-1" href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
</div>

<script>
    
    // Default Selected Value
    document.getElementById("SelectAlbum").value = @ViewBag.Id;

    // Initialize select control
    $('select.selectpicker').selectpicker();


</script>