@model Music.Models.AlbumSongPlaylist
<div class="page-header">
    <h1>All Songs</h1>
</div>

<style>
    #contextMenu {
        position: absolute;
        display: none;
    }
</style>

<script>
    $(function () {

        var $contextMenu = $("#contextMenu");

        $("body").on("contextmenu", "table tr", function (e) {
            $contextMenu.css({
                display: "block",
                left: e.pageX,
                top: e.pageY
            });
            return false;
        });

        $contextMenu.on("click", "a", function () {
            $contextMenu.hide();
        });

    });

    function AddSongToPlaylist(SongID) {
        var JSONObject = { // Create JSON object to pass through AJAX
            PlaylistID: GetPlaylistID(), //Make sure these names match the properties in VM
            SongID: SongID
        };

        $.ajax({ //Do an ajax post to the controller
            type: 'POST',
            url: "@Url.Action("AddSongToPlaylist", "Music")",
            data: JSON.stringify(JSONObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                document.getElementById("td" + SongID).innerHTML = '<a class="btn btn-danger" role="button" onclick="RemoveSongFromPlaylist(' + SongID + ')"><span class="glyphicon glyphicon-add"></span>Remove</a>';
            }
        });
    }

    function RemoveSongFromPlaylist(SongID) {
        var JSONObject = { // Create JSON object to pass through AJAX
            PlaylistID: GetPlaylistID(), //Make sure these names match the properties in VM
            SongID: SongID
        };

        $.ajax({ //Do an ajax post to the controller
            type: 'POST',
            url: "@Url.Action("RemoveSongFromPlaylist", "Music")",
            data: JSON.stringify(JSONObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                document.getElementById("td" + SongID).innerHTML = '<a class="btn btn-success" role="button" onclick="AddSongToPlaylist(' + SongID + ')"><span class="glyphicon glyphicon-add"></span>Add</a>';
            }
        });
    }

    // Get a playlist ID from the querystring
    function GetPlaylistID() {
        urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('PlaylistID');
    }

    //Display songs for a partucular album
    function LoadAlbum(AlbumID) {
        URLToLoad = "@Url.Content("~/")" + "Music/Songs/" + AlbumID;

        // If PlaylistID exists on the querystring, persist on a page refreshs
        if (GetPlaylistID() != '') {
            URLToLoad = URLToLoad + "?PlaylistID=" + GetPlaylistID();
        }

        // Reload page
        document.location.href = URLToLoad;
    }

    // Set the Playlist we are going to add songs tos
    function LoadPlaylist(PlaylistID) {
        URLToLoad = "@Url.Content("~/")" + "Music/Songs/" + @ViewBag.Id;

        // If PlaylistID exists on the querystring, persist on a page refresh
        URLToLoad = URLToLoad + "?PlaylistID=" + PlaylistID;

        // Reload page
        document.location.href = URLToLoad;
    }

</script>

<select id="SelectAlbum" onchange="LoadAlbum(this.options[this.selectedIndex].value);">
    <option value="0">--Select an Album--</option>
    @foreach (var item in Model.Album)
    {
        <option value="@item.Id">@item.AlbumName</option>
    }
</select>

<br />
<select id="SelectPlaylist" onchange="LoadPlaylist(this.options[this.selectedIndex].value);">
    <option value="0">--Select a Playlist--</option>
    @foreach (var item in Model.Playlist)
    {
        <option value="@item.Id">@item.PlaylistName</option>
    }
</select>

@*<select title="Select your surfboard" class="selectpicker">
    <option>Select...</option>
    <option data-thumbnail="/images/album/19923.jpg">Chrome</option>
    <option data-thumbnail="images/icon-firefox.png">Firefox</option>
    <option data-thumbnail="images/icon-ie.png">IE</option>
    <option data-thumbnail="images/icon-opera.png">Opera</option>
    <option data-thumbnail="images/icon-safari.png">Safari</option>
</select>

<br />*@
<br />

<table class="table">
    @foreach (var item in Model.Song)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Album</td>
        <td>@item.Title</td>
        <td>@item.Location</td>
        @*Not good design - should be built into model*@
        @if (Request.QueryString["PlaylistID"] != "0")
        {
            <td style="text-align:right" id="td@(item.Id)">
                @if (@item.PlaylistSongID == "")
                {
                    <a class="btn btn-success" role="button" onclick="AddSongToPlaylist(@(item.Id))"><span class="glyphicon glyphicon-add"></span>Add</a>
                }
                else
                {
                    <a class="btn btn-danger" role="button" onclick="RemoveSongFromPlaylist(@(item.Id))"><span class="glyphicon glyphicon-add"></span>Remove</a>
                }
            </td>
        }
    </tr>
    }
</table>

<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li><a tabindex="-1" href="#">Action</a></li>
        <li><a tabindex="-1" href="#">Another action</a></li>
        <li><a tabindex="-1" href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
</div>

<script>
    
    // Default Selected Value
    document.getElementById("SelectAlbum").value = '@ViewBag.Id';
      document.getElementById("SelectPlaylist").value = '@Request.QueryString["PlaylistID"]';
    // Initialize select control
   // $('select.selectpicker').selectpicker();




</script>